@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

.hidden {
  opacity: 0;
}

header {
  transition: all 2s ease;
}

.image {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  object-fit: cover; 
  object-position: center; 
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  bottom: 150px;
}


.header-text {
  color: #ffffff;
  font-size: 48px;
  font-family: "Viaoda Libre", serif;
  font-style: normal;
  line-height: 1.55;
  font-weight: 400;
  text-transform: uppercase;
  background-position: center center;
  text-shadow: 1px 5px 5px #000;
}

.timing {
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 18px;
  font-family: "Viaoda Libre", serif;
  gap: 40px;
}

.title {
  font-size: 50px;
  font-style: normal;
  font-weight: 900;
}

@keyframes fadeInUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-up {
  animation: 1.5s both fadeInUp;
} 

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;
  white-space: revert;
}

.dots {
  width: 50px;
  height: 12px; 
}

.block{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 80px;
  margin: 0 5%;
}
.event {
  display: flex;
  width: 100%;
}

.event-img {
  padding-top: 40px;
  width: 40px;
  height: 40px;
}

.marker {
  display: block;
  max-width: 40px;
  width: 40px;
}

.event-text {
  padding-left: 30px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  row-gap: 10px;
  font-size: 25px;
  font-family: "Viaoda Libre", serif;
}

.commit {
  font-size: 18px;
  opacity: 0.7;
}

.time {
  font-size: 30px;
  font-weight: 900;
}

.location {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.frame {
  width: 500px;
  height: 400px;
}

.place {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 17px;
  font-family: "Viaoda Libre", serif;
  text-align: center;
  row-gap: 30px;
}

.place-img {
  object-fit: cover; 
  object-position: bottom; 
  width: 500px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
  margin: 40px 5% 15px;
  font-family: "Viaoda Libre", serif;
  font-size: 20px;
  width: 80%;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 15px;
  width: 90%;
}

.subTitle {
  font-size: 24px;
  font-weight: 900;
}

.subText {
  color: #000000C7;
}

.name-input {
  margin-top: -10px;
  border-bottom: 2px solid #000;
  width: 100%;
  height: 60px;
}

.visit {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 15px;
  width: 90%;
}

.drink {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 15px;
  width: 90%;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.form-button {
margin-left: 10%;
background-color: #000;
width: 225px;
height: 60px;
}

.button-text {
  font-family: "Viaoda Libre", serif;
  font-size: 20px;
  color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 5%;
  font-family: "Viaoda Libre", serif;
  text-align: center;
}

.images {
  display: flex;
  justify-content: center;
  width: 70vw;
  height: auto;
}

/* Адаптив */

@media (max-width: 811px) {
  .image{
    width: 100vw;
    height: 100vh;
  }

  .header-text {
    font-size: 36px;
  }

  .timing {
    padding-top: 20px;
  }

  .text {
    width: 80%;
  }

  .title {
    font-size: 34px;
  }

  .marker {
    display: block;
    max-width: 50px;
    width: 70px;
  }

  .place-text {
    width: 82%;
    white-space: revert;
  }

  .place-img {
    width: 100%;
  }

  .frame{
    width: 80%;
  }

  .images{
    width: 80vw;
  }
}

@media (max-width: 435px) {
  .image{
    width: 100vw;
    height: 100vh;
    object-position: 35%;
  }

  .header-text {
    font-size: 32px;
  }

  .timing {
    padding-top: 30px;
  }
  .title {
    font-size: 32px;
  }

  .text {
    width: 80%;
  }

  .marker {
    display: block;
    width: 80px;
    padding-left: 3px;
  }

  .end-img {
    width: 40px;
  }

  .place-img {
    width: 100%;
  }

  .place-text {
    width: 75%;
    white-space: revert;
  }

  .frame{
    width: 80%;
  }

  .name {
    width: 80%;
  }

  .subText{
    font-size: 17px;
  }

  .visit {
    width: 80%;
  }

  .drink {
    width: 80%;
  }

  .footer {
    margin: 15px 5%;
  }

  .images{
    width: 100vw;
  }
}

@media (max-width: 360px) {
  .image{
    width: 360px;
    height: 800;
  }
  .header-text {
    font-size: 28px;
  }

  .timing {
    padding-top: 30px;
  }

  .frame{
    width: 80%;
    height: 60vh;
  }

  .title {
    font-size: 28px;
  }
}